
:root {
    --tom-color: #fff231;
  }



.tom{
    position:relative;
     margin:0;
     transform: scale(0.6,1.2);
     
    left: 60px;
}

.tom-middle{
    width:120px;
    height:40px;
    background-color:var(--tom-color);
    position:absolute;
    z-index: -3;
}


.tom-top{
    width: 111px;
	height: 43px;
	background-color:rgb(117, 167, 184);
	border-radius: 60px / 25px;
    position:absolute;
    top:-20px;
    left: 4px;
}
.tom-shade{
    width: 96px;
	height: 33px;
	background-color:#8aabc8;
	border-radius: 60px / 25px;
    position:absolute;
    top: -13px;
    left: 9px;
}
.tom-circle{
    width: 124px;
    height: 51px;
    background-color: #bcb5b5;
    border-radius: 60px / 25px;
    position: absolute;
    z-index: -1;
    top: -23px;
    left: -3px;
  
    
}

.tom-shine{
    width: 4px;
	height: 47px;
	background-color: #ffff9a;
    position:absolute;
    border-radius: 20%;
    top:14px;
    left:87px;
    

    z-index: -2;
}

.tom-bottom{
    width: 120px;
	height: 50px;
	background-color: var(--tom-color);
	border-radius: 60px / 25px;
    position:absolute;
    top:15px;
   
    z-index: -3;
}

.tom-shine-2 {
    width: 4px;
    height: 30px;
    background-color: #fefe60;
    position: absolute;
    border-radius: 20%;
    top: 18px;
    left: 86px;
    z-index: -2;
  }
  .tom-shine-3 {
    width: 5px;
    height: 38px;
    background-color: #ffff85;
    position: absolute;
    border-radius: 20%;
    top: 16px;
    left: 11px;
    z-index: -2;
  }
  
.tom-circle-bot {

  width: 122px;
	height: 45px;
	background-color:#bcb5b5;
	border-radius: 60px / 25px;
    position:absolute;
    z-index: -4;
    top:22px;
    

    left: -1px;
}
.playing-KeyK{
    transform: scale(1.1);
   
}