
:root {
    --snare-color: #fff231;
  }

.drum-kit{
    margin: 0 auto;
    margin-top: 10rem;
    height: 8rem;
    display: flex;
    width: 80%;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap:wrap;

}
.drum-kit >*{
    flex: 0 0 8rem;
    
    /* height: 8rem;
    background-color: ghostwhite;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center; */
    transition:all 0.07s;
}



.playing{
    transform: scale(1.1);
   
}

.snare{
    position:relative;
    top: 100px;
    left: 100px;
}

.snare-middle{
    width:120px;
    height:40px;
    background-color:var(--snare-color);
    position:absolute;
    z-index: -3;
}


.snare-top{
    width: 114px;
	height: 43px;
	background-color:rgb(117, 167, 184);
	border-radius: 60px / 25px;
    position:absolute;
    top:-20px;
    left: 2px;
}
.snare-shade{
    width: 80px;
	height: 30px;
	background-color:#88bfef;
	border-radius: 60px / 25px;
    position:absolute;
    top: -13px;
    left: 10px;
}
.snare-circle{
    width: 122px;
    height: 51px;
    background-color: #bcb5b5;
    border-radius: 60px / 25px;
    position: absolute;
    z-index: -1;
    top: -23px;
    left: -1px;
  
    
}

.snare-shine{
    width: 4px;
	height: 39px;
	background-color: #ffff9a;
    position:absolute;
    border-radius: 20%;
    top:14px;
    left:109px;
    

    z-index: -2;
}

.snare-bottom{
    width: 120px;
	height: 50px;
	background-color: var(--snare-color);
	border-radius: 60px / 25px;
    position:absolute;
    top:15px;
   
    z-index: -3;
}

.snare-shine-2 {
    width: 4px;
    height: 29px;
    background-color: #fefe60;
    position: absolute;
    border-radius: 20%;
    top: 18px;
    left: 112px;
    z-index: -2;
  }
  .snare-shine-3 {
    width: 5px;
    height: 45px;
    background-color: #ffff85;
    position: absolute;
    border-radius: 20%;
    top: 16px;
    left: 30px;
    z-index: -2;
  }
  
.snare-circle-bot {

  width: 122px;
	height: 51px;
	background-color:#bcb5b5;
	border-radius: 60px / 25px;
    position:absolute;
    z-index: -4;
    top:22px;
    

    left: -1px;
}